// Breakpoints
$min-sm:  576px;
$min-md:  768px;
$min-lg:  992px;
$min-xl:  1200px;
$min-xxl: 1600px;

// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$base-font-family: 'Lato', 'Roboto', Arial, Tahoma, sans-serif;
$display-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$display-font-family: "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

/* Coolors Exported Palette - http://coolors.co/43465d-dd6e42-e8dab2-c0d6df-eaeaea */

/* RGB */
$color1: rgba(67, 70, 93, 1);
$color2: rgba(221, 110, 66, 1);
// $color3: rgba(232, 218, 178, 1);
$color4: rgba(192, 214, 223, 1);
// $color5: rgba(234, 234, 234, 1);
$color5: #fefefe;

$dark:    #3c3c3a;
$light:   #fefefe;

$success: #5cdd42;
$warning: #dbdd42;
// $warning: #dd6e42;
$danger:  #dd4242;

$color3: $success;

// Elements
$border-color: rgba($color1, .8);
