// Breakpoints
$min-sm:  576px;
$min-md:  768px;
$min-lg:  992px;
$min-xl:  1200px;
$min-xxl: 1600px;

// Typography
$base-font-family: 'Lato', 'Roboto', Arial, Tahoma, sans-serif;
$display-font-family: "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;

$dark:    #3c3c3a;
$light:   #fefefe;
$success: #56ac3f;
$warning: #dbdd42;
$danger:  #dd4242;
$color1: rgba(67, 70, 93, 1);
$color2: rgba(221, 110, 66, 1);
$color4: rgba(192, 214, 223, 1);
$color3: $success;
$color5: #fefefe;

// Elements
$border-color: $dark;
