@import 'vars';

:host {
  display: none;

  @media screen and (min-width: $min-sm) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50%;
  }

  @media screen and (min-width: $min-xl) {
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 33%;
  }
}

.skill-circle--graph {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  fill: none;
  transform: rotate(-90deg);
  overflow: visible;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, .4));
}

.skill-circle--base {
  stroke: lighten($dark, 10%);
  stroke-width: 2.4rem;
}

.skill-circle--amount {
  stroke: $color3;
  stroke-linecap: round;
  stroke-width: 12px;
  transition:
    stroke-dashoffset .5s ease,
    opacity .5s linear;
}

.skill-circle--name {
  margin: .2em 0 2em;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.skill-circle--low {
  stroke: $danger;
}

.skill-circle--medium {
  stroke: $warning;
}
