@import 'vars';

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
}

header {
  > strong {
    font-size: .9rem;
    text-transform: capitalize;
  }
}

aside {
  background: $color-primary-0;
  color: $color-primary-2;
}

main {
  flex: 1;
}
