@import 'vars';

:host {
  display: block;
}

.container {
  @media screen and (min-width: $min-sm) {
    display: flex;
    flex-direction: row;
  }
}

header {
  padding: 1.5rem 2rem 1.5rem 6rem;
  text-align: center;
  background: $color1;
  color: $color5;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .5);

  h1 {
    position: relative;
    margin: 0;
    border: 2px solid $color5;
    padding: .9rem 2.25rem 1.05rem;
    font-family: $display-font-family;
    font-size: 3rem;
    font-weight: 400;
    font-display: optional;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .title {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      border-width: 2px;
      border-style: solid;
      border-top-color: $color1;
      border-bottom-color: $color1;
      border-left-color: $color5;
      border-right-color: $color5;
      padding: 0 .5em .1em;
      background: $color1;
      font-family: $base-font-family;
      font-size: .3em;
      font-weight: normal;
      line-height: 1;
      white-space: nowrap;
    }
  }

  @media screen and (min-width: $min-sm) {
    padding: 1.5rem 2rem 2.5rem;

    h1 {
      display: inline-block;
      font-size: calc(30px + 50 * ((100vw - 576px) / 624));
    }
  }

  @media screen and (min-width: $min-xl) {
    h1 {
      font-size: 80px;
    }
  }
}

aside {
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .5);
  padding: 1rem 3rem;
  background: darken($color1, 10%);
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, .4);
  color: $color5;

  [itemprop=name] {
    display: none;
  }

  @media screen and (min-width: $min-sm) {
    width: 30%;
  }
}

main {
  flex: 1;
}

.head-shot {
  position: absolute;
  top: .2em;
  left: .2em;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
  border-radius: 100%;
  width: 7rem;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 4px solid $color2;
    border-radius: 100%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
  }

  > img {
    display: block;
    width: 100%;
    filter: grayscale(1);
    transition: filter 1s;
  }

  &:hover {
    > img {
      filter: grayscale(0);
    }
  }

  @media screen and (min-width: $min-sm) {
    position: relative;
    margin: -4rem auto 2rem;
    width: 80%;

    &::after {
      border-width: 6px;
    }
  }
}

.address {
  margin: 2rem 0;

  [itemprop=streetAddress] {
    display: block;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}
