@import 'vars';

:host {
  display: block;
}

.container {
  @media screen and (min-width: $min-sm) {
    display: flex;
    flex-direction: row;
  }
}

header {
  @include texturebackground;
  text-align: center;
  background: $color1;
  color: $color5;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .5);

  h1 {
    position: relative;
    margin: .5em;
    border: 2px solid $color5;
    // border-top-left-radius: 255px 15px;
    // border-top-right-radius: 15px 255px;
    // border-bottom-right-radius: 225px 15px;
    // border-bottom-left-radius:15px 255px;
    padding: .3em .75em .35em .75em;
    font-family: $display-font-family;
    font-size: 30px;
    font-weight: 400;
    font-display: optional;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @media screen and (min-width: $min-sm) {
      display: inline-block;
      font-size: calc(30px + 50 * ((100vw - 576px) / 624));
    }
    @media screen and (min-width: $min-xl) {
      font-size: 80px;
    }

    .title {
      @include texturebackground;
      position: absolute;
      left: 50%;
      bottom: -.45em;
      transform: translateX(-50%);
      padding: 0 .25em;
      background: $color1;
      font-family: $base-font-family;
      font-size: .35em;
      font-weight: normal;
      white-space: nowrap;
    }
  }
}

aside {
  @include texturebackground;
  box-shadow: inset 0 3px 10px rgba(0, 0, 0, .5);
  width: 30%;
  padding: 1rem 3rem;
  background: darken($color1, 10%);
  font-size: .9rem;
  line-height: 1.5em;
  color: $color3;

  [itemprop=name] {
    display: none;
  }
}

main {
  flex: 1;
}

.head-shot {
  position: relative;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, .3);
  border-radius: 100%;
  overflow: hidden;
  width: 100%;
  margin: -2rem auto 1rem;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border: 6px solid $color3;
    border-radius: 100%;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, .2);
  }

  > img {
    width: 100%;
    filter: grayscale(1);
    transition: filter 1s;
  }

  &:hover {
    > img {
      filter: grayscale(0);
    }
  }
}

.address {
  margin: 1rem 0;

  [itemprop=streetAddress] {
    display: block;
  }
}

.skills {
  display: flex;
  flex-wrap: wrap;
}
