<article>
  <section id="about" *ngIf="resumeSummary">
    <h2>About Steve</h2>
    <p class="summary">{{ resumeSummary }}</p>
  </section>

  <section id="work" *ngIf="resumeWork">
    <h2>Work</h2>
    <div class="position" *ngFor="let work of resumeWork">
      <h4 class="position--company">{{ work.company }}</h4>
      <h5 class="position--title">{{ work.position }}</h5>
      <div class="position--details">
        <span class="position--duration">{{ work.startDate }} – {{ work.endDate}}</span><br>
        <span class="position--location">Brookfield, WI</span>
      </div>
      <div class="position--description">
        <p>{{ work.summary }}</p>
      </div>
    </div>
  </section>

  <section id="capabilities" *ngIf="resumeSkills">
    <h2>Professional capabilities</h2>

    <ul class="skills">
      <li *ngFor="let skill of resumeSkills">{{ skill }}</li>
    </ul>
  </section>
</article>
