@import 'vars';

:host {
  display: block;
  margin: 0 auto;
  max-width: 90rem;
  padding: 6rem;
  font-size: 1.8rem;
  line-height: 1.2em;

  @media print {
    max-width: 100%;
    padding: 0 4rem 2rem;
  }
}

#profiles,
#capabilities,
#awards,
#education,
.position {
  @media print {
    break-inside: avoid;
  }
}

h2 {
  margin-top: 2em;
  border-bottom: 2px solid $border-color;
  padding-bottom: .25em;
  font-size: 2.4rem;
  font-weight: 600;

  @media print {
    margin-top: 1em;
    border-bottom-width: 1px;
  }
}

#profiles {
  display: none;

  @media print {
    display: block;
  }
}

.contact {
  display: none;

  @media print {
    display: block;
    font-size: 1.4rem;
    text-align: center;
  }
}

.contact--info {
  margin-bottom: .1em;

  span {
    &:not(:last-child)::after {
      content: ' | ';
    }
  }
}

.summary {
  font-size: 1.8rem;
  line-height: 1.5em;
}

.position {
  margin: 2rem 0;
}

.position--details {
  font-size: 1.4rem;
  line-height: 1.5em;
  margin: .25em 0 .5em;
}

.position--company,
.position--title {
  margin: 0;
}

.position--description {
  font-size: 1.6rem;
  line-height: 1.5em;

  p {
    margin: 0 0 1em;
  }
}

.skills {
  font-size: 1.6rem;
}

.url {
  text-decoration: underline;
}
