@import 'vars';

:host {
  display: block;
  margin: 0 auto;
  max-width: 45rem;
  padding: 3rem;
}

h2 {
  border-bottom: 2px double $border-color;
  padding-bottom: .2em;
  font-weight: 400;
  text-transform: uppercase;
}

.summary {
  font-size: .9rem;
  line-height: 1.5em;
}

.position {
  line-height: 1.2em;
  margin: 1rem 0;
}

.position-details {
  font-size: .7rem;
  line-height: 1.5em;
  margin: .5em 0;
}

.company,
.title {
  margin: 0;
}

.description {
  font-size: .8rem;

  p {
    margin: 0 0 1em;
  }
}

.skills {
  font-size: .8em;
}
