<article>
  <section id="contact" class="contact" *ngIf="resumeBasics">
    <div class="contact--info">
      <span><a href="mailto:{{ resumeBasics.email }}">{{ resumeBasics.email }}</a></span>
      <span>{{ resumeBasics.phone }}</span>
      <span><a href="//{{ resumeBasics.website }}">{{ resumeBasics.website }}</a></span>
    </div>
    <div class="contact--address">
      {{ resumeBasics.location.address }}, {{ resumeBasics.location.city }} {{ resumeBasics.location.region }}, {{ resumeBasics.location.postalCode }}
    </div>
  </section>

  <section id="about" *ngIf="resumeBasics">
    <h2>About Steve</h2>
    <p class="summary">{{ resumeBasics.summary }}</p>
  </section>

  <section id="capabilities" *ngIf="resumeSkills">
    <h2>Professional capabilities</h2>

    <ul class="skills">
      <li *ngFor="let skill of resumeSkills">{{ skill }}</li>
    </ul>
  </section>

  <section id="work" *ngIf="resumeWork">
    <h2>Work</h2>
    <div class="position" *ngFor="let work of resumeWork">
      <h4 class="position--company">{{ work.company }}</h4>
      <h5 class="position--title">{{ work.position }}</h5>
      <div class="position--details">
        <span class="position--duration">{{ work.startDate }} – {{ work.endDate}}</span><br>
        <span class="position--location">{{ work.location }}</span>
      </div>
      <div class="position--description">
        <p>{{ work.summary }}</p>
      </div>
    </div>
  </section>

  <section id="education" *ngIf="resumeEdu">
    <h2>Education</h2>

    <div class="position" *ngFor="let education of resumeEdu">
      <h4 class="position--company">{{ education.institution }}</h4>
      <h5 class="position--title">{{ education.studyType }} in {{ education.area }}</h5>
      <div class="position--details">
        <span class="position--duration">From {{ education.startDate }} – {{ education.endDate}}</span>
      </div>
    </div>
  </section>

  <section id="profiles" *ngIf="resumeBasics">
    <h2>Profiles</h2>

    <ul class="skills">
      <li *ngFor="let profile of resumeBasics.profiles">
          {{ profile.network }}: <span class="url">{{ profile.url }}</span>
      </li>
    </ul>
  </section>

  <section id="awards" *ngIf="resumeAwards">
    <h2>Awards</h2>

    <ul class="skills">
      <li *ngFor="let awards of resumeAwards">
        <a href="{{ awards.url }}" target="_blank">{{ awards.summary }}</a>
      </li>
    </ul>
  </section>
</article>
